/* $primary-color: rgb(33, 133, 208)
$primary-color-transparent: rgba(33, 133, 208, 0.5)
$secondary-color: rgb(255, 175, 56)
$black-transparent: rgba(0, 0, 0, 0.7)
$background-color-grey: rgb(240, 240, 240)
$box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3)
$main-font: 'Roboto', sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Noto+Sans+HK:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  color: #333;

  header {
    background-image: linear-gradient(
        rgba(17, 44, 65, 0.608),
        rgba(26, 106, 167, 0.279)
      ),
      url("img/header_image.avif");
    color: #fff;
    text-align: center;
    padding: 0;
    height: 20rem;

    nav {
      display: flex;
      justify-content: space-around;
      padding-top: 2rem;
      img {
        width: 4rem;
        height: auto;
      }
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        list-style: none;
        margin-bottom: 1rem;

        li {
          cursor: pointer;

          button {
            background: #0078ff;
            color: #fff;
            border: none;
            padding: 0.5rem 1rem;
            cursor: pointer;
          }
        }
      }
    }
  }

  h1 {
    font-size: 4rem;
    font-style: italic;
    font-weight: bolder 4rem;
    margin: 0;
  }

  h2 {
    font-size: 1.2rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  main {
    #debut {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          background-color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 2rem;
          text-align: center;
          width: calc(50% - 4rem);

          &.grey {
            background-color: rgb(238, 238, 238);
          }

          i {
            width: 50px;
            height: 50px;
            margin-bottom: 1rem;

            &#baignoire {
              background: url("img/icone4.svg") no-repeat center center;
            }

            &#livreOuvert {
              background: url("img/icone5.svg") no-repeat center center;
            }

            &#batiment {
              background: url("img/icone6.svg") no-repeat center center;
            }

            &#voiture {
              background: url("img/icone7.svg") no-repeat center center;
            }
          }
        }

        h2 {
          font-size: 1.3rem;
          margin-bottom: 0.5rem;
          color: #333;
        }
      }
    }

    #map {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      ul {
        display: flex;
        margin-top: -40px;

        li {
          display: flex;

          #backgroundPool {
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.789),
                rgba(49, 49, 49, 0.499)
              ),
              url("img/item1.avif");
            background-size: cover;
            padding: 5rem;
            width: 80%;
          }
          #backgroundChild {
            background-image: linear-gradient(
                rgba(28, 103, 184, 0.616),
                rgba(58, 152, 223, 0.621)
              ),
              url("img/item2.avif");
            background-size: cover;
            padding: 5rem;
            width: 80%;
          }
          p {
            color: #fff;
            text-align: center;
          }

          h2 {
            color: #fff;
            font-size: 1.5rem;
          }
        }
        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;
          margin-right: 0;
          /* Styles pour les écrans de largeur maximale de 768px */
        }
      }
    }
  }

  #redirection {
    article {
      text-align: center;
      padding: 2rem;
      margin: 2rem;

      h2 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
      }
    }
    ul {
      display: flex;
      list-style: none;
      li {
        color: #000000;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: calc((100% / 3) - 4rem);
        border-top: lightgray solid 1px;

        &:nth-child(1),
        &:nth-child(2) {
          border-right: lightgray solid 1px;
        }

        i {
          display: block;
          height: 50px;
          width: 50px;

          &#ancre {
            background: url("img/icone1.svg") no-repeat center center;
          }

          &#monument {
            background: url("img/icone2.svg") no-repeat center center;
          }

          &#poussette {
            background: url("img/icone3.svg") no-repeat center center;
          }
        }
      }
    }
  }
}

footer {
  #highFooter {
    display: flex;

    ul {
      background-image: linear-gradient(
          rgba(17, 44, 65, 0.734),
          rgba(26, 106, 167, 0.279)
        ),
        url("img/main_image.avif");
      background-size: cover;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-bottom: 5rem;

      li {
        display: flex;
        flex-direction: column;
        width: 40%;
        padding-top: 17rem;

        h2 {
          color: #fff;
          margin-left: -5%;
        }

        p {
          color: #ddd;
          margin-bottom: 0.3rem;
          width: 50%;
        }

        button {
          background: #0078ff;
          color: #fff;
          border: none;
          cursor: pointer;
          width: 45%;
          margin: 5%;
          margin-left: 0;
          padding: 0.5rem;
          font-size: 1rem;

          @media screen and (max-width: 768px) {
            /* Styles pour les écrans de largeur maximale de 768px */
            width: 90%;
          }
        }
      }
    }
  }

  #lowFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #000000;
    color: #fff;
    padding: 3%;
    border-top: solid #0078ff 10px;

    div {
      display: flex;
      flex-direction: column;
      width: 40%;
      img {
        width: 20%;
      }
    }

    ul {
      width: 20%;
      padding: 0;

      p {
        margin: 10%;
        margin-left: 0;
        width: 100%;
      }
    }
  }
}
